<div class="control-panel-box">
  <h3 class="control-panel-box_title">Scanner Status</h3>
  <div class="control-panel-box_content">
    <div class="control-panel-box_status">
      <p class="control-panel-box_status_number">0</p>
      <p class="control-panel-box_status_description">
        Scanners are currently in use.
      </p>
    </div>
    <div class="control-panel-box_status">
      <p class="control-panel-box_status_number">0</p>
      <p class="control-panel-box_status_description">Scanners are inactive.</p>
    </div>
    <div class="control-panel-box_status">
      <b class="control-panel-box_status_number">{{offlineScanners}}</b>
      <p class="control-panel-box_status_description">
        Scanners are offline and haven't been seen for +1 or even +7 days.
      </p>
    </div>
    <div class="control-panel-box_status">
      <p class="control-panel-box_status_number">0</p>
      <p class="control-panel-box_status_description">Scanners are charging</p>
    </div>
  </div>
</div>
